node_modules
.env
.env.local
.env.production

# Backend
backend/node_modules
backend/.env

# Client
client/node_modules
client/.env.local
client/.env

# Next.js
client/.next
client/out

# Misc
.DS_Store
*.log
